version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql/postgres_setup.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U stream_user"]
      interval: 10s
      timeout: 5s
      retries: 5

  spark-master:
    build: ./spark
    container_name: spark-master
    env_file:
      - .env
    command: >
      spark-class org.apache.spark.deploy.master.Master
    ports:
      - "7077:7077"
      - "8080:8080"
    volumes:
      - ./data:/opt/spark/data
      - ./logs:/opt/spark/logs

volumes:
  postgres_data:
